In [1]:
import numpy as np 
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

INSTRUCTIONS
1. Mean poverty rate of each state
1. Most common 15 Name or Surname of killed people
1. Killed People According to Races
1. Box and Swarm Plots in kill data
1. Kill properties (Count Plot)
    * Number of people by gender
    * Kill weapon
    * Age of killed people
    * Race of killed people
    * Most dangerous cities
    * Most dangerous states
    * Having mental ilness or not for killed people
    * Threat types
    * Flee types
<br>

In [2]:
pr = pd.read_csv('PercentagePeopleBelowPovertyLevel.csv', encoding="windows-1252")
sr = pd.read_csv('ShareRaceByCity.csv', encoding="windows-1252")
kill = pd.read_csv('PoliceKillingsUS.csv', encoding="windows-1252")

## 1. Mean poverty rate of each state

In [3]:
pr.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [4]:
pr.poverty_rate.value_counts()

0       1464
-        201
6.7      129
7.4      129
10       128
        ...
93.3       1
91.9       1
73.8       1
57.7       1
59.9       1
Name: poverty_rate, Length: 771, dtype: int64

Problem: We don't know what does "-" mean. We need to clean it. Maybe we can consider it as 0.

**INSTRUCTION-1: replace the "-" with zero.**

In [5]:
pr.poverty_rate.replace(['-'],0.0,inplace = True)

In [6]:
pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29329 non-null  object
 1   City             29329 non-null  object
 2   poverty_rate     29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

Problem: data type of poverty_rate colum is object. We need to convert it to a numeric type (float).

**INSTRUCTION-2 : Convert type of poverty_rate colum to a numeric type (float).**

**INSTRUCTION-3 : Plot the Poverty rate of each state. (Demonstrate mean value of each Geogrophic Area (AL, AK, AR).)**

**INSTRUCTION-3.a.1 : Plot With Pandas Built in method:**

**INSTRUCTION-3.a.2 : Plot Sorted Values With Pandas Built in method:**

**INSTRUCTION-3.b : Plot Sorted Values With Matplotlib:**

**INSTRUCTION-3.c : Plot Sorted Values With Seaborn**

## 2. Most common 15 Name or Surname of killed people

In [7]:
kill.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [8]:
kill.name.value_counts()

TK TK                           49
Brandon Jones                    2
TK Tk                            2
Michael Brown                    2
Michael Johnson                  2
                                ..
Michael Noel                     1
Joshua Martino                   1
Javier Garcia Gaona              1
Jamison Christopher Anderson     1
Anthony Paul Ardo                1
Name: name, Length: 2481, dtype: int64

In [9]:
# Problem: TK TK is most probably not a name or surname. We will clean them.
pairs = kill.name[kill.name != 'TK TK'].str.split()
pairs.head()

0             [Tim, Elliot]
1      [Lewis, Lee, Lembke]
2    [John, Paul, Quintero]
3        [Matthew, Hoffman]
4      [Michael, Rodriguez]
Name: name, dtype: object

**INSTRUCTION : Plot Most common 15 Name or Surname of killed people**

# Clue 1: You need to separate the names and surnames because we are asking most common name OR surname.

# Clue 2 :After seperation make a whole list that contains both names and surnames.

# Clue 3 : How to separate the name and surname pairs?

>>> pairs = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
>>> numbers, letters = zip(*pairs)
>>> numbers
(1, 2, 3, 4)
>>> letters
('a', 'b', 'c', 'd')

# Clue 4: You can use Counter() and most_common() built in functions together to find the most common names or surnames, or you can write your functions for this purpose.

In [11]:
pairs

0                [Tim, Elliot]
1         [Lewis, Lee, Lembke]
2       [John, Paul, Quintero]
3           [Matthew, Hoffman]
4         [Michael, Rodriguez]
                 ...
2529      [Brian, J., Skinner]
2530      [Rodney, E., Jacobs]
2532    [Dennis, W., Robinson]
2533          [Isaiah, Tucker]
2534           [Dwayne, Jeune]
Name: name, Length: 2486, dtype: object

In [12]:
liste = ['1','b','c','d']

In [ ]:
liste.Counter()

## 3. Killed People According to Races (Pie Chart)

In [ ]:
kill.head()

In [ ]:
kill.race.unique()

In [ ]:
kill.race.value_counts()

In [ ]:
kill.info()

Problem: missing value on race column.

**INSTRUCTION-1: Drop the all raws that contain missing value (dropna)**

**INSTRUCTION-2: Demonstrate Race Ratio of Killed People by a Pie Chart**

## 4a.Box plot of age in both genders separeted by manner of death.

In [ ]:
kill.head()

In [ ]:
kill.manner_of_death.unique()

**INSTRUCTION: Demonstrate the Qurtiles of age in both genders separeted by manner of death.**

## 4b. Swarm Plot (Do not use in large datasets. The memory will not be enogh!)

**INSTRUCTION: Demonstrate the age in both genders separeted by manner of death by a swarm plot.**

## 5. Kill properties (Count Plots)

**INSTRUCTION-1: Plot number of poeple by gender**

**INSTRUCTION-2: Plot 7 most common kill weapons**

**INSTRUCTION-3: Plot number of age of killed people under two groups : Under 25 and Above 25**

**INSTRUCTION-4: Plot number of killed poeple by race**

**INSTRUCTION-5: Plot 12 most dangerous cities**

**INSTRUCTION-6: Plot 20 most dangerous states**

**INSTRUCTION-7: Plot Having mental ilness or not for killed people**

**INSTRUCTION-8: Plot number of Threat Types**

**INSTRUCTION-9: Plot number of Flee Types**